@using CaseProject.Model.Bus;

@model BusJourneyInfo

<div class="card mt-3">
    <div class="card-body" style="padding: 5px 5px !important;">
        <div class="row">
            <div class="col-8">
                <p style="font-size:10px; color:#3640B1; font-weight:bold;">KALKIŞ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; VARIŞ</p>
                @if (Model.Journey.Arrival.HasValue)
                {
                    <p style="font-weight:bold; color:#3640B1;"> @Model.Journey.Departure.Value.ToString("HH:mm") <i class="fa fa-long-arrow-right"></i> @Model.Journey.Arrival.Value.ToString("HH:mm")</p>
                }
            </div>
            <div class="col-4">
                <small class="btn btn-danger" style="float:right; margin-top:5px;" type="button" name="name">@Model.Journey.OriginalPrice TL</small>
            </div>
        </div>
        <p class="card-text" style="font-size:smaller; color:#083145">@Model.Journey.Origin - @Model.Journey.Destination </p>

    </div>
</div>